{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- end meta -->
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_base.css' %}">
    {% block css %}{% endblock %}
    <!-- end css -->
    <!-- js -->
    {% block js %}{% endblock %}
    <!-- end js -->
    <title>{% block title %}JS survey{% endblock %}</title>
</head>
<body>
    <header>
        <h2 class="header">
            {{survey.title}}
        </h2>
        <nav class="header-nav">
            {% if category == 'edit' %}
                <a class="header-nav-active" href="/edit/">편집</a>
                <a href="/statistics/">통계 보기</a>
                <a href="/responses/">응답별로 보기</a>
            {% elif category == 'statistics' %}
                <a href="/edit/">편집</a>
                <a class="header-nav-active" href="/statistics/">통계 보기</a>
                <a href="/responses/">응답별로 보기</a>
            {% elif category == 'responses' %}
                <a href="/edit/">편집</a>
                <a href="/statistics/">통계 보기</a>
                <a class="header-nav-active" href="/responses/">응답별로 보기</a>
            {% endif %}
        </nav>
        <a class="download-result" href="/download-result/">설문결과 다운받기</a>
    </header>
    <div class="blank-div"></div>
    <div class="container" id="container">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>