/* survey */
.survey_title-wrapper {
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dbe4ff;
}
.survey-button-wrapper {
  margin: 10px 0px;
  text-align: center;
}
.survey_title {
  width: 95%;
  font-size: 2.5rem;
}
.survey_title:focus {
  border-bottom: 2px solid #ff6b6b;
}
/* end survey */
/* question */
.question-list {
  width: 100%;
}
.question-wrapper {
  position: relative;
  height: auto;
  padding: 60px 40px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 10px;
  border: 1px solid #dbe4ff;
}
.question-button-wrapper {
  position: absolute;
  top: 10px;
  right: 5px;
  display: flex;
  justify-content: space-between;
}
.question-button-wrapper > button {
  margin-right: 10px;
}
.question_title {
  position: relative;
  width: 95%;
  padding: 10px 5px;
  background-color: #ced4da;
  border-radius: 10px;
  margin-bottom: 10px;
}
.question_type {
  position: relative;
  margin-right: 5px;
  padding: 5px 3px;
}
.question_limit {
  position: relative;
  margin-right: 5px;
  padding: 5px 3px;
}
/* end question */
/* option */
.option {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.option > input {
  margin-right: 10px;
}
/* end option */
/* common input */
input:focus {
  background-color: #adb5bd;
}
/* end common input */
/* mobile */
@media screen and (max-width: 768px) {
  /* survey */
  .survey-button-wrapper {
    margin: 30px 0px;
  }
  /* end survey */
  /* question */
  .question-list {
    width: 100%;
  }
  .question-wrapper {
    position: relative;
    height: auto;
    padding: 80px 20px;
    border: 1px solid #dbe4ff;
  }
  .question > input {
    font-size: 0.8rem;
    margin-top: 10px;
  }
  .question_type {
    font-size: 0.8rem;
  }
  /* end question */
  /* option */
  .option {
    margin-top: 30px;
  }
  /* end option */
}
/* end mobile */
