/* body */
body {
  background-color: #edf2ff;
}
/* end body */
/* header */
header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 5px 1px black;
}
.header {
  font-weight: unset;
  padding: 10px 5px;
}
/* end header */
/* container */
#container {
  width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
/* end container */
/* common button */
button {
  padding: 10px 25px;
  background-color: #ff6b6b;
  border-radius: 10px;
  font-size: 1rem;
}
button:hover {
  opacity: 0.5;
}
/* end common button */
/* etc */
.blank-div {
  width: 100%;
  height: 150px;
}
/* end etc */

/* mobile */
@media screen and (max-width: 768px) {
  /* common button */
  button {
    padding: 10px 25px;
    background-color: #ff6b6b;
    border-radius: 10px;
    font-size: 1rem;
  }
  /* end common button */
  /* container */
  #container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  /* end container */
  /* etc */
  .blank-div {
    width: 100%;
    height: 150px;
  }
  /* end etc */
}
/* end mobile */
